//ProgressBar
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  .progress-group {
    display: flex;
  }
  .progress-icon {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;

    background-color: lightgray;
    border-color: lightgray;

    .text {
      color: white;
    }
  }
  .progress-label {
    color: lightgray;
  }
  .progress-bar {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    &.active {
      border-color: black;
    }
  }
  & .active {
    .progress-icon {
      background-color: black;
      border-color: black;
    }
    .progress-label {
      color: black;
    }
  }
}

.progress-num {
  color: pink;
  font-size: 24px;
  position: relative;
}

.progress-num-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}
